/* Стили для основного контента страницы */

body {
    background-color: #D2B48C; /* Цвет фона страницы */
    font-family: Arial, sans-serif; /* Шрифт текста */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    font-size: 25px; /* Размер шрифта по умолчанию */
}

/* Стили для заголовка и навигационной панели */

header {
    background-color: #5E4634; /* Цвет фона шапки */
    color: #fff; /* Цвет текста */
    padding: 20px 0; /* Внутренние отступы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

.container {
    width: 60%; /* Ширина контейнера */
    margin: 0 auto; /* Центрирование */
}

.header-content {
    display: flex; /* Отображение элементов в строку */
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}

.logo {
    margin: 0; /* Убираем отступы для логотипа */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    text-align: center; /* Выравнивание элементов по центру */
}

nav ul li {
    display: inline; /* Отображение элементов списка в строку */
}

nav ul li a {
    color: #fff; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругление углов */
}

nav ul li a:hover {
    background-color: #555; /* Цвет фона при наведении */
}

.contact-info {
    text-align: right; /* Выравнивание информации о контактах по правому краю */
}

.phone {
    margin: 0; /* Убираем отступы для телефонного номера */
}

header h1 {
    margin: 0; /* Убираем отступы для заголовка h1 */
    font-size: 30px; /* Увеличенный размер шрифта для заголовка h1 */
}

header nav {
    flex-grow: 1; /* Занимает все доступное пространство */
    text-align: center; /* Центрирует элементы */
}
/* Стили для основного содержимого страницы */

#hero {
    background-image: url('background.jpg'); /* Фоновое изображение */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 300px 0; /* Внутренние отступы */
    background-size: cover; /* Масштабирование изображения */
    background-position: center; /* Позиционирование изображения по центру */
}

/* Стили для футера */

footer {
    background-color: #5E4634; /* Цвет фона футера */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px 0; /* Внутренние отступы */
    position: fixed; /* Фиксированное позиционирование */
    width: 100%; /* Ширина футера */
    bottom: 0; /* Прижат к нижнему краю страницы */
}

/* Стили для таблицы */

table {
    width: 100%; /* Ширина таблицы */
    table-layout: fixed; /* Фиксированная ширина столбцов */
}

th, td {
    padding: 10px;
    text-align: left; /* выравнивание текста в ячейках по левому краю */
    vertical-align: top; /* вертикальное выравнивание по верхнему краю */
}

/* Стили для заголовков и ячеек таблицы */

th {
    background-color: #5E4634; /* Цвет фона заголовков */
    color: #fff; /* Цвет текста */
}

td {
    border-bottom: 1px solid #ddd; /* Горизонтальная линия между строками */
}

/* Задаем ширину столбцов */

th:first-child, td:first-child {
    width: 80%; /* Ширина для левого столбца */
}

th:last-child, td:last-child {
    width: 30%; /* Ширина для правого столбца */
}
